*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  appearance: none;
}

html {
  font-size: clamp(1px, 10vw, 16px);
  font-family: sans-serif;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

h1 {
  font-size: clamp(16px, 10vw, 3.5rem);
}
h2 {
  font-size: clamp(16px, 10vw, 3rem);
}
h3 {
  font-size: clamp(16px, 10vw, 2.5rem);
}
h4 {
  font-size: clamp(16px, 10vw, 2rem);
}
h5 {
  font-size: clamp(16px, 10vw, 1.5rem);
}
h6 {
  font-size: clamp(16px, 10vw, 1rem);
}
